<launch>
    <!-- Enable realsense camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <!-- Enable usb camera -->
    <!-- <include file="$(find vision)/launch/run_cam.launch" /> -->

    <!-- Launch ar tracking for relavant camera -->
    <!-- <include file="$(find vision)/launch/ar_track_realsense.launch" /> -->
    <!-- <include file="$(find vision)/launch/ar_track_head_camera.launch" /> -->
    <include file="$(find vision)/launch/ar_track_left_arm_camera.launch" />
    <!-- <include file="$(find vision)/launch/ar_track_usb.launch" /> -->

    <!-- Set up static transforms -->
    <node name="table_transform_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 ar_marker_1 table" />
    <node name="realsense_transform_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 ar_marker_0 camera_link" />

    <!-- Run main.py -->
    <!-- <node pkg="vision" type="main.py" name="vision"> -->
</launch>